.venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
.coverage.*
.env
.ipynb_checkpoints/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/
htmlcov/
models/
results/
Thumbs.db
.DS_Store
